<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <title>MathGen</title>
</head>

<body>
  <header>
    <h1>MathGen</h1>
  </header>
  <main>
    <!--Change this to be done in javascript-->
    <div id="top">
      <div id="submit-values">
        <div class="value">
          Inertia: <br><input type="text" id="inertia-value">
        </div>
        <div class="value">
          Cognitive Coefficient: <br><input type="text" id="cog-coef-value">
        </div>
        <div class="value">
          Social Coefficient: <br><input type="text" id="soc-coef-value">
        </div>
      </div>

      <div id="rest-methods">
        <button class="rest-button" onclick="sendInfo()">Start Training</button>
        <button class="rest-button" onclick="loadAndGraph()">Graph</button>
      </div>
    </div>
    <canvas id="canvas"></canvas>
  </main>
  <script src="/static/dist/draw.js"></script>
</body>

</html>