<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <title>MathGen</title>
    </head>
    <body>
        <header>
            <h1>MathGen</h1>
        </header>
        <main>
            <h3>You Entered:</h3>
            <p>{{.Function}}<br><sub>This is non-functional</sub></p>
            <p>{{.OutputVal}}<br><sub>In Radians</sub></p>
        </main>
    </body>
</html>
